.center {
	display: block;
	margin-left: 35%;
	margin-right: auto;
	width: 55%;
  }

.nav ul
{
	list-style:none;
	margin-top:0px;
	padding:0px;
}
.nav li
{
	float:left;
	width:120px;height:31px;
	list-style:none;
	background-color:#c6ffb3;
	text-align:center;
	color:red;
	position:relatie;
	line-height:31px;
}
.myfield
{
    position: absolute;
    top:50%;
    left:50%;
    width: 500px;
    height: auto;
    padding:40px;
    margin-top: 11%;
    transform: translate(-50%,-50%);
}
.nav li ul li 
{
	float:none;
	width:120px;
	height:31px;
	text-align:left-20px;
	padding-left:0px;
	border-top:0px solid white;
	background-color:#c6ffb3;
	color:white;
}
.nav li a 
{
	float:left;
	display: block;
	padding: 1px;
	width:120px;height:31px;
	list-style:none;
	background-color:#c6ffb3;
	text-align:center;
	color:red;
	position:relative;
	line-height:31px;
}
.nav a
{
	text-decoration:none;
	display: block;
	padding: 1px;
	color:black;
}
.nav li ul
{
	position:relative;
	top:px;
	left:0px;
	visibility:hidden;
}
.nav li:hover 
{
	background-color:rgb(255, 255, 255);
	color:black;
}
.nav li:hover ul
{
	visibility:visible;
}
.nav li ul li:hover 
{
	background-color:rgb(255, 255, 255);
}
.mybutton 
{
	padding:2px;color:red;
	border-radius:5px
}
.mybutton:hover
{
	color:rgb(51, 116, 121);
	border-radius:7px;
	background-color:white;
}